So right now, I just need to go to that particular location where the particular board you kept to determine which deck is actually we are on is to be shown. Like suppose if I need to make sure I am on... So right now, if I need to understand on which deck I am in, I need to go to that particular location where the board is being designed or kept. So I just need a solution so that the user can, user or, yeah, user can understand in which deck he is actually being present without going, or a board that actually shows the user that. Not a static board, a dynamic board that goes along with the user, so that the user can understand on which deck he is actually being available, or he is actually being currently present.
